<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,user-scalable=no,initial-scale=1,maximum-scale=1,minimum-scale=1">
  <meta content="yes" name="apple-mobile-web-app-capable"/>
  <meta content="yes" name="apple-touch-fullscreen"/>
  <meta content="telephone=no,email=no" name="format-detection"/>
  <meta name="App-Config" content="fullscreen=yes,useHistoryState=yes,transition=yes"/>
    <title>Document</title>
    <script type="text/javascript" src="https://storage.dreambigcareer.com/dbc/websitnew/ui/vue.js"></script>
</head>
<body>
<script type="text/javascript">
  window.onload = function () {
    new Vue({
      el: "#app",
      data: {
        weight: '',
        type: 'makalong',
        makalongObj: {
          danbai: 36,
          shatang: 32,
          xingrenfen: 43,
          mifen: 5,
          tangfen: 43
        },
        jidanQuqiObj: {
          danbai: 50,
          tangfen: 100,
          huangyou: 250,
          difen: 300,
          yan: 1.5
        },
        zhenniQuqiObj: {
          tangfen: 100,
          huangyou: 160,
          difen: 155,
          yan: 2,
          tudoudianfen:35,
          naifen:20
        },
        quqiObj: {
          niunai: 40,
          shatang: 65,
          huangyou: 160,
          difen: 200,
          xingrenfen: 40,
          yan: 2
        },
        dianfenQuqiObj: {
          niunai: 40,
          shatang: 65,
          huangyou: 160,
          difen: 200,
          tudoudianfen: 40,
          yan: 2
        },
        kafeiQuqiObj: {
          niunai: 40,
          shatang: 65,
          huangyou: 160,
          difen: 200,
          xingrenfen: 40,
          yan: 2,
          kafeijiang: 7
        },
        mochaQuqiObj: {
          niunai: 40,
          shatang: 65,
          huangyou: 160,
          difen: 180,
          xingrenfen: 40,
          yan: 2,
          mochafen: 8
        },
        qklQuqiObj: {
          niunai: 40,
          shatang: 65,
          huangyou: 160,
          difen: 180,
          xingrenfen: 40,
          yan: 2,
          kekefen: 20
        },
        youpiObj: {
          zhongfen: 300,
          tangfen: 95,
          shui: 117,
          selayou: 40,
          huangyou: 49,
          yan: 1.5
        },
        yousuObj: {
          difen: 387,
          selayou: 62,
          huangyou: 140
        },
        priceMapObj: {
          danbai: {name: '蛋白', price: 0},
          shatang: {
            name: '白砂糖', price: 0.017
          },
          xingrenfen: {
            name: '杏仁粉', price: 0.168
          },
          mifen: {
            name: '米粉', price: 0.048
          },
          tangfen: {
            name: '糖粉', price: 0.023
          },
          yan: {
            name: '盐', price: 0.005
          },
          huangyou: {
            name: '黄油', price: 0.1
          },
          niunai: {
            name: '牛奶', price: 0.01
          },
          kekefen: {
            name: '可可粉', price: 0.1
          },
          mochafen: {
            name: '抹茶粉', price: 0.98
          },
          difen: {
            name: '低筋面粉', price: 0.017
          },
          kafeijiang: {
            name: '咖啡酱', price: 0.5
          },
          tudoudianfen: {
            name: '土豆淀粉', price: 0.016
          },
          naifen: {
            name: '奶粉', price: 0.056
          },
          selayou: {
            name: '色拉油', price: 0.04
          },
          zhongfen: {
            name: '中筋面粉', price: 0.01
          },
          shui: {
            name: '水', price: 0
          }
        },
        baseMapObj: {
          kafeiQuqi: {
            name: '咖啡曲奇', weight: 160
          },//咖啡曲奇，按黄油换算
          mochaQuqi: {
            name: '抹茶曲奇', weight: 160
          },//抹茶曲奇，按黄油换算
          qklQuqi: {
            name: '可可曲奇', weight: 160
          },//可可曲奇，按黄油换算
          quqi: {
            name: '原味曲奇', weight: 160
          },//原味曲奇按黄油换算
          dianfenQuqi: {
            name: '土豆淀粉曲奇', weight: 160
          },//土豆淀粉曲奇
          jidanQuqi: {
            name: '全蛋曲奇', weight: 250
          },//土豆淀粉曲奇
          zhenniQuqi: {
            name: '珍妮曲奇', weight: 160
          },//土豆淀粉曲奇
          makalong: {
            name: '马卡龙', weight: 36
          },//按蛋白换算
          youpi: {
            name: '蛋黄酥皮', weight: 49
          },//按黄油换算
          yousu: {
            name: '油酥', weight: 140
          },//按黄油换算
          
          
        },
        canshuMap:{}
      },
      created: function () {

      },
      mounted:function() {
        for (let k in this.baseMapObj) {
            let name = k + 'Num';
             this.$set(this.canshuMap,name,[]);
        }
      },
      methods: {
        filterNum: function (curNum) {
          return curNum.toString().indexOf('.') > 0 ? curNum.toFixed(2) : curNum
        },
        getAllPrice: function (i, type) {
          var num = 0;
          num = this.baseMapObj[type].weight;
          var total = 0;
          for (let k in this[type + 'Obj']) {
            console.log(this[type + 'Obj'][k] * i / num * this.priceMapObj[k].price)
            total += this[type + 'Obj'][k] * i / num * this.priceMapObj[k].price
          }
          if (type === 'makalong') {
            total += 1;
          }
          return this.filterNum(total)
        },
        filterList(k,str,type)
        {
          return type ? this.canshuMap[k + str] : this[k + str]
        },
        filterMakeNum(k,str){
          console.log(this[k + str])
          let name = k + str;
          let total = 0;
          for(let i in this[name]){
            total += this[name][i] * (this.weight/this[name].huangyou);
          }
          let numberS = k === 'yousu' ? 11 : 18;
          let num = (total/numberS).toFixed(2);
          return num
        },
        goSearch()
        {
          for (let k in this.baseMapObj) {
            this.canshuMap[k + 'Num'] = [];
          }
          this.canshuMap[this.type + 'Num'] = [this.weight];
        }
      }
    })
  }
</script>
    <div id='app'>
        <div style="display: flex">
            <select v-model="type">
                <option :value="key" v-for="(val,key) in baseMapObj">{{val.name}}</option>
            </select>
            <input type="   " name="" v-model='weight' @blur="goSearch">
        </div>
        <p @click="goSearch"> 查询 </p>
    
        <div v-for='(val,k) in baseMapObj' >
            <!-- <p>{{val.name}}</p> -->
            <div v-for="i in filterList(k,'Num','weight')">
                            <p style="font-size: 16px;line-height: 16px;margin-right: 5px;"
                                  v-for="(value,key) in filterList(k,'Obj')">
                                 <span>{{priceMapObj[key].name}}:</span>
                                 <span>{{filterNum(value * (i/val.weight))}}g</span>
                                 
                            </p>
                <p>成本:</span><span>{{getAllPrice(i,k)}}元</p>
                <p v-if="k === 'yousu' || k === 'youpi'">{{k === 'yousu' ? 11 : 18}}g的可以做{{filterMakeNum(k,'Obj')}}个</p>

            </div>
        </div>
    
    
    <div>
</body>
</html>
