<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,user-scalable=no,initial-scale=1,maximum-scale=1,minimum-scale=1">
    <meta content="yes" name="apple-mobile-web-app-capable"/>
    <meta content="yes" name="apple-touch-fullscreen"/>
    <meta content="telephone=no,email=no" name="format-detection"/>
    <meta name="App-Config" content="fullscreen=yes,useHistoryState=yes,transition=yes"/>
    <title>配方查询</title>
    <script type="text/javascript" src="https://storage.dreambigcareer.com/dbc/websitnew/ui/vue.js"></script>
</head>
<body style="font-size: 16px;line-height: 14px;color: #333;font-family: PingFangSC-Regular, sans-serif;">
<script type="text/javascript">
  window.onload = function () {
    new Vue({
      el: "#app",
      data: {
        weight: '',
        type: 'youpi',
        priceMapObj: {
          jidan: {name: '鸡蛋', price: 1.5},
          danbai: {name: '蛋白', price: 0.03},
          danhuang: {name: '蛋黄', price: 0.05},
          dannaiyou: {name: '淡奶油', price: 0.1032},
          shatang: {name: '白砂糖', price: 0.017},
          xingrenfen: {name: '杏仁粉', price: 0.168},
          mifen: {name: '米粉', price: 0.048},
          nuomifen: {name: '糯米粉', price: 0.02},
          tangfen: {name: '糖粉', price: 0.023},
          yan: {name: '盐', price: 0.005},
          huangyou: {name: '黄油', price: 0.1},
          niunai: {name: '牛奶', price: 0.01},
          kekefen: {name: '可可粉', price: 0.1},
          mochafen: {name: '抹茶粉', price: 0.98},
          difen: {name: '低筋面粉', price: 0.017},
          kafeijiang: {name: '咖啡酱', price: 0.5},
          tudoudianfen: {name: '土豆淀粉', price: 0.016},
          yumidianfen: {name: '玉米淀粉', price: 0.016},
          naifen: {name: '奶粉', price: 0.056},
          selayou: {name: '色拉油', price: 0.04},
          zhongfen: {name: '中筋面粉', price: 0.01},
          shui: {name: '水', price: 0},
          bojuechabao: {name: '伯爵茶包', price: 1},
          xingrenpian: {name: '杏仁片', price: 0.14},
          shuiyi: {name: '水怡', price: 0.024},
          fengmi: {name: '蜂蜜', price: 0.1},
          xiangcaogao: {name: '香草膏', price: 1.058},
          ningmengzhi: {name: '柠檬汁', price: 0.120},
          haiyan: {name: '海盐', price: 0.18},
          gaofen: {name: '高筋面粉', price: 0.02},
          gaotangjiaomu: {name: '耐高糖酵母', price: 0.06},
          danye: {name: '蛋液', price: 0.03},
          ningmengpi: {name: '柠檬皮屑', price: 0.1},
        },
        baseMapObj: {
          kafeiQuqi: {
            name: '咖啡曲奇',
            peifang: {
              niunai: 40,
              shatang: 65,
              huangyou: 160,
              difen: 200,
              xingrenfen: 40,
              yan: 2,
              kafeijiang: 7
            }
          },//咖啡曲奇，按黄油换算
          mochaQuqi: {
            name: '抹茶曲奇', peifang: {
              niunai: 40,
              shatang: 65,
              huangyou: 160,
              difen: 180,
              xingrenfen: 40,
              yan: 2,
              mochafen: 8
            }
          },//抹茶曲奇，按黄油换算
          qklQuqi: {
            name: '可可曲奇', peifang: {
              niunai: 40,
              shatang: 65,
              huangyou: 160,
              difen: 180,
              xingrenfen: 40,
              yan: 2,
              kekefen: 20
            }
          },//可可曲奇，按黄油换算
          quqi: {
            name: '原味曲奇', peifang: {
              niunai: 40,
              shatang: 65,
              huangyou: 160,
              difen: 200,
              xingrenfen: 40,
              yan: 2
            }
          },//原味曲奇按黄油换算
          dianfenQuqi: {
            name: '土豆淀粉曲奇', peifang: {
              niunai: 40,
              shatang: 65,
              huangyou: 160,
              difen: 200,
              tudoudianfen: 40,
              yan: 2
            }
          },//土豆淀粉曲奇
          jidanQuqi: {
            name: '全蛋曲奇', peifang: {
              danbai: 50,
              tangfen: 100,
              huangyou: 250,
              difen: 300,
              yan: 1.5
            }
          },//土豆淀粉曲奇
          zhenniQuqi: {
            name: '珍妮曲奇', peifang: {
              tangfen: 100,
              huangyou: 160,
              difen: 155,
              yan: 2,
              tudoudianfen: 35,
              naifen: 20
            }
          },//土豆淀粉曲奇
          makalong: {
            name: '马卡龙', type: 'danbai', peifang: {
              danbai: 36,
              shatang: 32,
              xingrenfen: 43,
              mifen: 5,
              tangfen: 40
            }
          },//按蛋白换算
          yingshinaiyoushuang: {
            name: '蛋黄奶油霜',type: 'danhuang', peifang: {
              niunai: 200,
              danhuang: 80,
              shatang: 20,
              huangyou: 260
            }
          },//按黄油换算
          ningmengxian: {
            name: '马卡龙柠檬夹馅',type: 'danye', peifang: {
              huangyou: 300,
              ningmengzhi: 160,
              ningmengpi: 25,
              shatang: 220,
              danye: 200
            }
          },//按蛋白换算
          youpi: {
            name: '蛋黄酥皮', peifang: {
              zhongfen: 300,
              tangfen: 95,
              shui: 117,
              selayou: 40,
              huangyou: 49,
              yan: 1.5
            }
          },//按黄油换算
          yousu: {
            name: '油酥', peifang: {
              difen: 387,
              selayou: 62,
              huangyou: 140
            }
          },//按黄油换算
          
          dangaojuan: {
            name: '原味蛋糕卷', type: 'jidan', peifang: {
              jidan: 4,
              niunai: 52,
              selayou: 40,
              difen: 56,
              shatang: 55
            }
          },//按鸡蛋换算
          mochadangaojuan: {
            name: '抹茶蛋糕卷', type: 'jidan', peifang: {
              jidan: 4,
              niunai: 52,
              selayou: 40,
              difen: 50,
              mochafen: 6,
              shatang: 55
            }
          },//按鸡蛋换算
          kekedangaojuan: {
            name: '巧克力蛋糕卷', type: 'jidan', peifang: {
              jidan: 4,
              niunai: 52,
              selayou: 40,
              difen: 44,
              kekefen: 12,
              shatang: 55
            }
          },//按鸡蛋换算
          bojuedangaojuan: {
            name: '伯爵红茶蛋糕卷', type: 'jidan', peifang: {
              jidan: 4,
              niunai: 52,
              selayou: 40,
              difen: 56,
              shatang: 55,
              bojuechabao: 1
            }
          },//按鸡蛋换算
          qifendangao: {
            name: '戚风蛋糕', type: 'jidan', peifang: {
              jidan: 2,
              niunai: 18,
              selayou: 16,
              difen: 28,
              yumidianfen: 6,
              shatang: 5,
              yan: 0.5
            }
          },//按鸡蛋换算
          tangmiandangao: {
            name: '烫面戚风小蛋糕', type: 'jidan', peifang: {
              jidan: 2,
              selayou: 23,
              difen: 40,
              haiyan: 0.5,
              niunai: 42,
              xiangcaogao: 2,
              shatang: 34,
              ningmengzhi: 1,
              yumidianfen: 2
            }
          },//按鸡蛋换算
          naiyoushuang: {
            name: '裱花奶油霜', peifang: {
              dannaiyou: 150,
              huangyou: 100,
              tangfen: 40
            }
          },//按黄油换算
          nuomichuan: {
            name: '糯米船', peifang: {
              huangyou: 23,
              xingrenpian: 50,
              shatang: 25,
              shuiyi: 26,
              fengmi: 5
            }
          },
          lasimashu: {
            name: '拉丝麻薯', peifang: {
              nuomifen: 50,
              huangyou: 15,
              shuiyi: 35,
              shui: 60
            }
          },
          baitusi: {
            name: '柔软白吐司',
            peifang: {
              gaofen: 550,
              niunai: 400,
              jidan: 1,
              shatang: 55,
              gaotangjiaomu: 6,
              yan: 5,
              huangyou: 35
            }
          }
        },
        addList: [],
        isShow:false,
      },
      created: function () {
        this.baseMapObj = Object.assign({}, this.baseMapObj, this.getLocalPeifang());
        if (localStorage.getItem('type')) {
          this.type = localStorage.getItem('type');
        }
        if (localStorage.getItem('weight')) {
          this.weight = localStorage.getItem('weight');
        }
        for (let k in this.baseMapObj) {
          if (!this.baseMapObj[k].type) {
            this.baseMapObj[k].type = 'huangyou';
          }
        }
      },
      mounted: function () {

      },
      methods: {
        getLocalPeifang(){
          let peifangObj = {};
          if (localStorage.getItem('addPeifang')) {
            peifangObj = JSON.parse(localStorage.getItem('addPeifang'));
          }
          return peifangObj
        },
        changeType: function () {
          localStorage.setItem('type', this.type);
        },
        filterNum: function (curNum) {
          return curNum.toString().indexOf('.') > 0 ? curNum.toFixed(2) : curNum
        },
        getBili: function (item) {
          return this.weight / item.peifang[item.type];
        },
        getAllPrice: function (item) {
          let weightType = item.type;
          let bili = this.getBili(item);
          var total = 0;
          for (let k in item.peifang) {
            total += item.peifang[k] * bili * this.priceMapObj[k].price
          }

          return this.filterNum(total)
        },
        filterMakeNum(item, k){
          let total = 0;
          let bili = this.getBili(item);
          for (let i in item.peifang) {
            total += item.peifang[i] * bili;
          }
          let numberS = k === 'yousu' ? 11 : 18;
          let num = (total / numberS).toFixed(2);
          return num
        },
        changeWeight: function () {
          localStorage.setItem('weight', this.weight);
        },
        filterType: function () {

          let type = this.baseMapObj[this.type].type;
          let obj = this.priceMapObj[type];
          return obj.name

        },
        pushCailiao(){
          let obj = {
            name: '',
            weight: '',
          };
          if(this.addList.length === 0){
            obj.proType = 'huangyou';
          }
          this.addList.push(obj);
          this.isShow = true;
        },
        saveCailiao(){
          let obj = {
            name: this.addList[0].proName,
            type: this.addList[0].proType,
            peifang: {}
          };
          for (let item of this.addList) {
            obj.peifang[item.name] = item.weight;
          }
          var time = new Date().getTime();
          let name = 'jomy' + time;
          let curPeifangObj = {
            [name]: obj
          };
          this.baseMapObj = Object.assign({}, this.baseMapObj, curPeifangObj);
          let peifangObj = Object.assign({}, this.getLocalPeifang(), curPeifangObj);
          localStorage.setItem('addPeifang', JSON.stringify(peifangObj));
          this.isShow = false;
          this.type = name;
          this.changeType();
        },
        cancleSave(){
          this.addList = [];
          this.isShow = false;
        }
      }
    })
  }
</script>
<div id='app'>
    <template v-if="!isShow">
        <div style="display: flex">
            <select v-model="type" @change="changeType">
                <option :value="key" v-for="(val,key) in baseMapObj">{{val.name}}</option>
            </select>
            <input type="tel" name="" v-model='weight' @change="changeWeight">
        </div>


        <p>按{{filterType(type)}}换算</p>


        <template v-for='(item,k) in baseMapObj' v-if="type && weight">
            <div v-if="type === k">
                <p v-for="(originalWeight,key) in item.peifang">

                    <span>{{priceMapObj[key].name}}:</span>
                    <span>{{filterNum(originalWeight * getBili(item))}}<template v-if="key==='jidan'">个</template><template
                            v-else>g</template>
                             </span>

                </p>
                <p>成本:</span><span>{{getAllPrice(item)}}元</p>
                <p v-if="k === 'yousu' || k === 'youpi'">{{k === 'yousu' ? 11 : 18}}g的可以做{{filterMakeNum(item,k)}}个</p>

            </div>
        </template>
    </template>
    <template v-if="isShow">
        <div v-for="(item,i) in addList">
            <template v-if="i===0">
                <div>配方名称：<input name="" v-model='item.proName' placeholder="列如：蛋糕"></div>
                <div>
                    按什么转换：
                    <select v-model="item.proType">
                        <option :value="key" v-for="(val,key) in priceMapObj">{{val.name}}</option>
                    </select>
                </div>
                <p>材料表</p>
            </template>
            <select v-model="item.name">
                <option :value="key" v-for="(val,key) in priceMapObj">{{val.name}}</option>
            </select>
            <input type="tel" name="" v-model.number='item.weight'>
        </div>
        <div style="display: flex;line-height: 30px;text-align: center;">
        <p style="flex: 1; background-color: #67C23A;" @click="pushCailiao">添加材料</p>
        <p style="flex: 1;background-color: #409EFF" @click="saveCailiao">保存配方</p>
        <p style="flex: 1;background-color: #909399" @click="cancleSave">取消</p>
        </div>
    </template>
    <p style="position: fixed;bottom:0;left:0;    background-color: #1989fa;line-height: 300%;width: 100%;text-align: center;" @click="pushCailiao" v-if="!isShow">添加配方</p>


</div>
</body>
</html>